/* --- Nodes that look clickable --- */
.clickable-node-gray:hover { -fx-cursor: hand; }
.clickable-node-gray:pressed { -fx-background-color: gray; }

.clickable-node-lightgreen:hover { -fx-cursor: hand; }
.clickable-node-lightgreen:pressed { -fx-background-color: lightgreen; }

.clickable-node-lightblue:hover { -fx-cursor: hand; }
.clickable-node-lightblue:pressed { -fx-background-color: lightblue; }
/* --------------------------------- */