/*
This file includes classes for styling list-related elements such as
a VBox containing elements, or the elements within a VBox.
 */

/*
A class for styling elements in a vbox that take up the full width of the parent container.
Used in for example listQuizzesPage for each quiz displayed in the VBox.
*/
.full-width-list-element {
    -fx-pref-width: 9999px;
    -fx-padding: 30px;
    -fx-border-insets: 4px;
    -fx-background-insets: 4px;
    -fx-font-size: 22px;
    -fx-border-color: black;
    -fx-border-type: solid;
    -fx-border-width: 2px;
    -fx-background-color: lightgrey;
}